<html>
  <head>
    <title>Nervos 社区书</title>
    <meta name="author" content="Happypeter" />
    <link rel="stylesheet" type="text/css" href="./style-zh.css" />
  </head>
  <body>
    <section class="frontcover">
      <img src="./cover.png" />
    </section>

    <section class="titlepage">
      <h1>Nervos 社区书</h1>
      <h3>Happypeter</h3>
      <p>2019-06-04</p>
    </section>

    <section class="imprint">
      <p>CC-SA 协议</p>
    </section>

    <section class="toc">
      <h1>目录</h1>

      <ul class="toc">
        <li class="frontmatter"><a href="#前言">前言</a></li>
        <%- toc %>
      </ul>
    </section>

    <section class="preface" id="前言">
      <h1>前言</h1>
      <p>
        写给 Nervos 社区的书
      </p>
      <p class="author">
        happypeter<br />
        <br />2019.6
      </p>
    </section>

    <%- content %>
  </body>
</html>
