<html>
  <head>
    <title>The Nervos Community Book</title>
    <meta name="author" content="Happypeter" />
    <link rel="stylesheet" type="text/css" href="./style-en.css" />
  </head>
  <body>
    <section class="frontcover">
      <img src="./cover.png" />
    </section>

    <section class="titlepage">
      <h1>The Nervos Community Book</h1>
      <h3>Happypeter</h3>
      <p>2019-06-04</p>
    </section>

    <section class="imprint">
      <p>CC-SA License</p>
    </section>

    <section class="toc">
      <h1>Table of Contents</h1>

      <ul class="toc">
        <li class="frontmatter"><a href="#preface">Preface</a></li>
        <%- toc %>
      </ul>
    </section>

    <section class="preface" id="preface">
      <h1>Preface</h1>

      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam
        explicabo impedit voluptate at sint rerum adipisci voluptatibus nobis ea
        id, praesentium ipsa quaerat sunt optio sed aspernatur! Exercitationem,
        quidem aspernatur.
      </p>

      <p class="author">
        happypeter<br />
        <br />JUNE 2019
      </p>
    </section>

    <%- content %>
  </body>
</html>
